.collections-search {
  cursor: text;
  background-color: $sidebarLight;
  height: 44px;
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.collections-search__input {
  color: $lightGrey;
  border: 0 none;
  placeholder($grey);
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
  flex: 1;
  margin-left: 6px;
}
