.CollectionSwitcher {
  width: 184px;

  .select {
    border-bottom: 0 none;
    background-color: $textfield;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 32px;

    &:after {
      width: 18px;
      height: 18px;
      margin-top: -10px;
    }

    select {
      font-size: 13px;
      padding: 0 10px;
      min-height: 32px;
    }
  }
}

.CollectionSwitcher__label {
  display: block;
  margin-bottom: 10px;
}
