.EmailVerified {
  background-color: $darkWhite;
  width: 100vw;
  height: 100vh;
}

.EmailVerified__content {
  text-align: center;
  width: 720px;
  margin: 25vh auto 0;

  .button--primary {
    width: 250px;
    margin: 15px auto;
  }
}

.EmailVerified__title {
  margin-bottom: 25px;
}
