.Footer {
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  max-width: 1024px;
  align-center: center;
  justify-content: space-between;
}

.Footer__copyright {
  font-size: 12px;
}

.Footer__link {
  font-size: 14px;
  margin: 0 10px;
}
