.items,
.items-placeholder {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 10px 0 0 10px;
  flex-wrap: wrap;

  &.items--empty {
    display: block;
  }
}

.items-placeholder {
  padding: 0;
}
