.Logout__content {
  background-color: $darkWhite;
  width: 100vw;
  height: 92vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Logout__text {
  font-size: 22px;
}
