.no-collections-cta {
  width: 100vw;
  height: 92vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
}

.no-collections-cta__text,
.no-collections-cta__title {
  font-size: 48px;
  text-align: center;
  font-family: $font;
  font-weight: 400;
}

.no-collections-cta__text {
  font-size: 24px;
}

