.ValidateEmail {
  background-color: $darkWhite;
  width: 100vw;
  height: 100vh;
}

.ValidateEmail__content {
  text-align: center;
  width: 720px;
  margin: 25vh auto 0;
}

.ValidateEmail__title {
  margin-bottom: 25px;
}
