$red = #E26A6A;
$grey = #CED1D9;
$blue = #6FB7F3;
$white = #FEFEFE;
$black = #6C7A89;
$darkBlue = #60A4DC;
$darkGrey = darken($grey, 15%);
$darkBlack = #2C3E50;
$lightGrey = lighten($grey, 15%);

$itemRed = #E87461;
$itemBlue = #4BA8F3;
$itemGreen = #32DE8A;
$itemPurple = #B38CB4;
$itemOrange = #FF9900;
$itemYellow = #F7DD72;

$headerBg = #FAFAFA;
$collectionsBg = #FAFAFA;
$imageLoadingBg = #EAEAEA;

$font = 'Varela Round', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$purple = #8b74d1;

$blue = #2e9af4;
$darkBlue = darken($blue, 15%);
$darkerBlue = darken($blue, 25%);

$white = #fcfcfc;
$darkWhite = #eff0f1;
$darkerWhite = #dde0e3;
$darkestWhite = #c7cdd3;

$lightGrey = #eaebeb;
$grey = #889094;
$darkGrey = #5f6568;
$darkerGrey = #505659;
$darkestGrey = #3a3f41;

$red = #f4989c;
$darkRed = #df797e;
$darkerRed = #c95b60;

$bg = #e7ebf2;
$darkerBg = #d7deea;

$textfield = #e7ebf2;
$textfieldFocus = darken($textfield, 5%);
$textfieldColor = #68758B;
$textfieldPlaceholder = #aebed6;

$sidebar = #494d53;
$sidebarDark = darken($sidebar, 15%);
$sidebarLight = lighten($sidebar, 15%);

$filters = darken($sidebar, 15%);
$filtersDark = darken($filters, 15%);
$filtersDarker = darken($filters, 25%);

$items = #e7ebf2;
$itemsHeader = $white;
$itemsSubHeader = $itemsHeader;
$itemsHeaderBorder = #dde0e3;

$itemsDark = darken($items, 15%);
$itemsLight = lighten($items, 15%);
$itemsDarker = darken($items, 25%);
